* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header{
  background-color: #FFFFFF;
  padding-top: 34px;
}


nav{
display: flex;
justify-content: space-between;
max-width: 1600px;

}
.png{
  margin-left: 120px;
  margin-bottom: 16px;
  margin-top: 16px;

}

.link-parent{
width: 365px;
height: 27px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;

list-style: none;
display: flex;
gap: 25px;


}
.link-parent a{
  text-decoration: none;
  color: #0c0c0c;
  font-style: Medium;
  font-size: 16px;
  font-weight: 550;
  line-height: 152%;
  
  
  
  
}

.btn{
  justify-content: end;
  border-radius: 5px;
  width: 165px;
  height: 45px;
  padding: 14px 18px;
  background-color: #30B868;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7571e;
  
 } 


 
.hero-parent img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #fff;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
  

}





.small-btn{
color: #30B868;
  font-size: 16px;
  padding: 6px 6px;
  justify-content: center;
  border-radius: 1000px;
}


.text{
 
display: flex;
justify-content: center;

}
 
.hero-content{
   
 
  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50%);

 

.description{
  padding: 20px 10px;
}

}

.highlight{
  color: #30b868;
  
}

.next-btn{
  justify-content: end;
  border-radius: 5px;
  width: 260px;
  height: 60px;
  padding: 10px 10px;
  background-color: #30B868;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.next-btn:hover{
  background-color: #f7571e;
}

.side-btn{
width: 200px;
height: 52px;
border: 1px solid #ffffff;
border-radius: 4px;
 background: transparent; 
 color: #ffffff;
  font-size: 16px;
  justify-content: end;
  cursor: pointer;
}

.side-btn:hover{
  background-color: #f7571e;
}
.problems {
  padding: 80px 0;
}




.icon {
  width: 60px;
  height: 60px;
  background: #ff5a5f;
  color: #fff;
  font-size: 26px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 10px;
}


.problem {
  padding: 80px 0;
}

.cards {
  max-width: 1200px;
  margin: 60px auto;

  display: flex;              
  justify-content: space-between;
  gap: 24px;
}

.section-header {
  max-width: 700px;
  margin: 0 auto 60px; 
  text-align: center;
}

.section-header h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 16px;
}

.section-header .title {
  font-size: 18px;
  color: #64748b;
  line-height: 1.6;
}







.solution {
  padding: 120px 0;
}

.solution-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
}




.center-img {
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* example positions */
.icon-1 { top: 0; left: 50%; transform: translateX(-50%); }
.icon-2 { top: 50%; right: 0; transform: translateY(-50%); }
.icon-3 { bottom: 0; left: 50%; transform: translateX(-50%); }
.icon-4 { top: 50%; left: 0; transform: translateY(-50%); }
.icon-5 { top: 15%; right: 15%; }


.solution-text ul {
  list-style: none;
  padding: 0;
}

.solution-text p{
  color: #808080;

}

solution-text h1{
  font-weight: bold;
}
.solution-text li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.text2{
 color: #30B868;
}


.last{
  padding: 100px 20px;
}

.last-box {
  max-width: 1100px;
  margin: auto;
  background: #f9f7f3;
  border-radius: 20px;
  padding: 80px 20px;
  text-align: center;
}

.last-box h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #0f172a;
}

.last-sub {
  font-size: 16px;
  color: #64748b;
  margin-bottom: 32px;
  line-height: 1.6;
}

.last-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: #3b8f5b;
  color: #fff;
  padding: 14px 28px;
  border-radius: 4px;
  font-size: 16px;


  
}

.last-btn:hover {
  background: #f7571e;
}

.last-note {
  margin-top: 20px;
  font-size: 14px;
  color: #94a3b8;
}


.footer {
  background: #061c2f;
  color: #ffffff;
  padding: 40px 80px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
 
width: 139px;
height: 60px;
}

.logo h3 {
  margin: 0;
  font-size: 22px;
}


  



.footer-right p {
  margin-bottom: 8px;
  font-weight: 600;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ffffff;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.25s ease;
}

.social-icons i {
  font-size: 14px;
  color: #061c2f;
}

.social-icons button:hover {
  
  background: #f7571e
}


.footer-bottom {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
  font-size: 14px;
  
}
