* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header{
  background-color: #FFFFFF;
  padding-top: 34px;
}


nav{
display: flex;
justify-content: space-between;
max-width: 1600px;

}
.png{
  margin-left: 120px;
  margin-bottom: 16px;
  margin-top: 16px;

}

.link-parent{
width: 365px;
height: 27px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;

list-style: none;
display: flex;
gap: 25px;


}
.link-parent a{
  text-decoration: none;
  color: #0c0c0c;
  font-style: Medium;
  font-size: 16px;
  font-weight: 550;
  line-height: 152%;
  
  
  
  
}

.btn{
  justify-content: end;
  border-radius: 5px;
  width: 165px;
  height: 45px;
  padding: 14px 18px;
  background-color: #30B868;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7571e;
  transform: scale(1.05);
 } 


 
.hero-parent img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #fff;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.5;
}
 