* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

header{
  background-color: #FFFFFF;
  padding-top: 34px;
}


nav{
display: flex;
justify-content: space-between;
max-width: 1600px;

}
.png{
  margin-left: 120px;
  margin-bottom: 16px;
  margin-top: 16px;

}

.link-parent{
width: 365px;
height: 27px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;

list-style: none;
display: flex;
gap: 25px;


}
.link-parent a{
  text-decoration: none;
  color: #0c0c0c;
  font-style: Medium;
  font-size: 16px;
  font-weight: 550;
  line-height: 152%;
  
  
  
  
}

.btn{
  justify-content: end;
  border-radius: 5px;
  width: 165px;
  height: 45px;
  padding: 14px 18px;
  background-color: #30B868;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f7571e;
  transform: scale(1.05);
 } 


 
.hero-parent img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #fff;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
  

}





.small-btn{
color: #30B868;
  font-size: 16px;
  padding: 6px 6px;
  justify-content: center;
  border-radius: 1000px;
}


.text{
 
display: flex;
justify-content: center;

}
 
.hero-content{
   
 
  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50%);

 

.discription{
  padding: 20px 10px;
}

}

.highlight{
  color: #30b868;
  
}

.next-btn{
  justify-content: end;
  border-radius: 5px;
  width: 260px;
  height: 60px;
  padding: 10px 10px;
  background-color: #30B868;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.side-btn{
width: 200px;
height: 52px;
border: 1px solid #ffffff;
border-radius: 4px;
 background: transparent; 
 color: #ffffff;
  font-size: 16px;
  justify-content: end;
  cursor: pointer;
}

.problems {
  padding: 80px 0;
}




.icon {
  width: 60px;
  height: 60px;
  background: #ff5a5f;
  color: #fff;
  font-size: 26px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-bottom: 20px;
  padding: 10px;
}


.problem {
  padding: 80px 0;
}

.cards {
  max-width: 1200px;
  margin: 60px auto;

  display: flex;              
  justify-content: space-between;
  gap: 24px;
}

.section-header {
  max-width: 700px;
  margin: 0 auto 60px; 
  text-align: center;
}

.section-header h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 16px;
}

.section-header .title {
  font-size: 18px;
  color: #64748b;
  line-height: 1.6;
}
